/backend/venv/
/backend/backend/Config.py
/py_client
*.log
*.pid
.idea/
*.pyc
*.cpyc
/.vscode
backend/db.sqlite3
/backend/applications/migrations
/backend/applications/__pycache__
/backend/projects/migrations
/backend/projects/__pycache__
/backend/users/migrations
/backend/users/__pycache__
/backend/transactions/migrations
/backend/transactions/__pycache__
/mediafiles
**/migrations/*
